extends layout

block content
    div#game.header.container
        div.row
            div.page-header.col-sm-10
                h1 Infusion 2018
                p.lead Online Treasure Hunt. Welcome #{firstName}!
            div.col-sm-1
                include about.pug
                a(data-toggle="modal" data-target="#exampleModalCenter")
                    i.fa.fa-info(style="font-size:48px;color:dodgerblue") 
            div.col-sm-1
                a(href='/auth/logout' align='right' data-toggle='tooltip' title='Logout')
                    i.fa.fa-sign-out(style="font-size:48px;color:dodgerblue")
    hr
    div.row
        include links.pug
        div#koschan.container.col-sm-7
            form(method='POST' action='/game/ans')
                h3 #{question}
                br
                -imagesrc=image
                -quesid=id
                img(src=imagesrc align='center')
                br
                label Answer:
                input.form-control(id='inputans' type='text' name='answer')
                br
                input(type='hidden' name='quesid' value=quesid)
                input.btn.btn-outline-dark.btn-block(type='submit' value='Answer')

        include info.pug